<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
    <div>
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>

      <button mat-button *ngIf="nextp" (click)="previousPage()">Previous</button>
      <button mat-button *ngIf="!prevp" (click)="nextPage()">Next</button>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Ok</button>
  </mat-dialog-actions>